<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Newz</title>
    </head>
    <body>

        <h2>Newz</h2>
        
        <h3>Articles</h3>
        <div>
            <ul>
                <li th:each="category : ${categories}">
                    <a th:href="@{/{categoryId}(categoryId=${category.id})}" th:text="${category.name}">category name</a>
                </li>
            </ul>
        </div>
        
        
        <h3>Edit Articles</h3>
        <div>
            <ul>
                <li th:each="article : ${articles}">
                    <a th:href="@{/edit/{articleId}(articleId=${article.id})}" th:text="${article.name}">category name</a>
                    
                </li>
            </ul>
        </div>

        <a th:href="@{/admin}">To admin page.</a>

    </body>

</html>