<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Newz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <br/>
        <div class="container bg-danger">
            <a th:href="@{/}"> -> To Main page.</a>
            <br/>
            <br/>
            <a th:href="@{/create}"> -> To Create page.</a>
        </div>
        <br/>
        <div class="container bg-info">
        <h3>Add Writer</h3>
        <form action="/admin/writer" method="POST">
                Name: <input type="text" name="name" id="name"/><br/>
                <input type="submit" value="Add"/>            
        </form>
        
        <h3>Add Category</h3>
        <form action="/admin/category" method="POST">
                Name: <input type="text" name="name" id="name"/><br/>
                <input type="submit" value="Add"/>            
        </form>
        <br/>
        </div>
        <br/>
        <div class="container bg-success">
        <div>
            <h3>Writers</h3>
            <ul>
                <li th:each="writer : ${writers}">
                    <span th:text="${writer.name}"></span>
                    <form th:action="@{/admin/writer/{writerId}(writerId=${writer.id})}" th:method="DELETE">
                        <input type="submit" value="remove"/>
                    </form>
                </li>
            </ul>
        </div>
        <div>
            <h3>Categories</h3>
            <ul>
                <li th:each="category : ${categories}">
                    <span th:text="${category.name}"></span>
                    <form th:action="@{/admin/category/{categoryId}(categoryId=${category.id})}" th:method="DELETE">
                        <input type="submit" value="remove"/>
                    </form>
                </li>
            </ul>
        </div>
        <div>
            <h3>Edit Articles</h3>
            <ul>
                <li th:each="article : ${articles}">
                    <a th:href="@{/edit/{articleId}(articleId=${article.id})}" th:text="${article.name}">article name</a>
                    <form th:action="@{/admin/article/{articleId}(articleId=${article.id})}" th:method="DELETE">
                        <input type="submit" value="remove"/>
                    </form>
                </li>
            </ul>
        </div>
            <br/>
        </div>
        
    </body>

</html>