<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Article</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <br/>
        <br/>
        <div class="container bg-danger">
            <a th:href="@{/}">Back to main page -> </a>
        </div>
        
        <div class="container bg-warning">
            <br/>
            <img th:src="@{/articles/{articleId}/picture(articleId=${article.id})}"/>
            <br/>
            <br/>
            <h1 id="headline" th:text="${article.name}">Headline</h1>
            <br/>
        </div>
        <br/>
        <div class="container bg-success">
            <br/>
            <div id="lead" th:text="${article.lead}" class="lead">Lead</div>
            <br/>
        </div>
        <br/>
        <div class="container bg-info">
            <br/>
            <div id="text" th:text="${article.text}">Text</div>
            <br/>
        </div>
        <br/>
        <div class="container bg-info">
            Posted:
            <span th:text="${article.publishingTime}"></span><br/>
            Views:
            <span th:text="${article.views}"></span><br/>
            <h3>Writers:</h3>
            <ul>
                <li th:each="writer : ${article.writers}" th:text="${writer.name}"></li>
            </ul>
        </div>
    </body>
</html>
