<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Create</title>
    </head>
    <body>
        <h2>Create</h2>
        <div>To be added soon!</div>
        
        <h2>Add new</h2>

        <form method="POST" action="/create">
            <input type="text" name="name" id="name"/>
            <input type="submit" value="Add"/>
        </form>
        
        
    </body>
    
    
</html>
