<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Newz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    </head>
    <body class="container">
        <div class="jumbotron">
            <h1>Newz</h1>
            <p>The best source of random empty articles in
            the world wide web.</p>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Categories</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">All</a></li>
                <li th:each="category : ${categories}">
                    <a th:href="@{/front/{categoryId}(categoryId=${category.id})}" th:text="${category.name}">category name</a>
                </li>
            </ul>
        </nav>
        
        <div class="container bg-danger">
            <a th:href="@{/admin}" >To admin page -> </a>
        </div>
        
        <div class="container bg-info">
            <h3> Search options </h3>
                <form action="/config/amountOfArticlesShown" method="POST">
                    Articles shown:<input type="text" name="howMany" id="howMany" th:value="${usession.articlesShown}"/>
                    <input type="submit" value="Show"/>            
                </form>
                <br/>
                <form action="/config/sortByTimeOrViews" method="POST">
                    Show:<input type="submit" th:value="${usession.byTimeOrByViewsString}"/>
                </form>
        </div>
        <br/>
        <div class="container bg-success">
            <br/>
            <br/>
            <ol>
                <li th:each="article : ${articles}">
                    <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
                        <img th:src="@{/articles/{articleId}/picture(articleId=${article.id})}"/>
                        <h3 th:text="${article.name}">Headline</h3>
                        <p th:text="${article.lead}">Lead</p>
                        Posted:
                        <span th:text="${article.publishingTime}"></span>
                        <br/>
                    </a>
                    <br/>
                </li>
            </ol>
        </div>
        
    </body>

</html>
